<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/requests">
          </ion-back-button>
        </ion-buttons>
    <ion-title>Pedidos abiertos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-divider color="secondary" *ngFor="let currentOpenRequest of requestsExtended">
         <!--  <ion-label *ngIf=" currentOpenRequest != null"> Fecha y hora: {{currentOpenRequest.date}}:{{currentOpenRequest.time}} Origen: {{currentOpenRequest.request_id.origin}} Cliente: {{currentOpenRequest.client_id.name}} ({{currentOpenRequest.client_id.sex}})</ion-label> -->
         <ion-card *ngIf=" currentOpenRequest != null">
           <ion-card-header>
             <ion-card-title>Solicitud {{currentOpenRequest.request_id._id}}</ion-card-title>
           </ion-card-header>
           <ion-item>
             <ion-label>Fecha: {{currentOpenRequest.date}}</ion-label>
           </ion-item>
           <ion-item>
             <ion-label>
               Hora: {{currentOpenRequest.time}}
             </ion-label>
           </ion-item>
           <ion-item>
             <ion-label>
               Origen: {{currentOpenRequest.request_id.origin}}
             </ion-label>
           </ion-item>
           <ion-item>
             <ion-label>
               Cliente: {{currentOpenRequest.client_id.name}}
             </ion-label>
           </ion-item>
           <ion-item>
              <ion-button color="primary">Cerrar pedido</ion-button>
           </ion-item>
           <ion-item>
              <ion-button color="primary">Cancelar pedido</ion-button>
           </ion-item>
         </ion-card>
        </ion-item-divider>
      </ion-list>
</ion-content>
