<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/clients">
      </ion-back-button>
    </ion-buttons>
<ion-title>Pedidos realizados por el cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar type="email" animated placeholder="Escriba el email del cliente" [(ngModel)]="emailOfClient" (ionInput)="findRequestsOfClient()"></ion-searchbar>
    <!-- FIXME Arreglar, implementar para que se corresponda con los pedidos, intentar usar el componente ion-virtual-scroll y mostrar todos los datos de los pedidos -->
    <ion-list>
        <ion-item *ngFor="let currentRequest of requests">
          <ion-label>Descripción: {{currentRequest.description}}</ion-label>
        </ion-item>
      </ion-list>

</ion-content>
