<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/main">
    
          </ion-back-button>
        </ion-buttons>
        <ion-title>Clientes</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-list>
        <ion-item> -->
            <ion-button expand="full" (click)="navigateToAddNewClient()">Agregar cliente</ion-button>
        <!-- </ion-item>
        <ion-item> -->
            <ion-button expand="full">Buscar cliente</ion-button>
        <!-- </ion-item>
        <ion-item> -->
            <ion-button expand="full">Ver pedidos del cliente</ion-button>
            <ion-button expand="full" (click)="navigateToListOfClients()">Ver todos los clientes</ion-button>
        <!-- </ion-item>
      </ion-list> -->
</ion-content>
