<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/clients">
          </ion-back-button>
        </ion-buttons>
    <ion-title>Listado de clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let client of clients">
          <ion-label>Nombre: {{ client.name }} Sexo: {{ client.sex }}  Fecha de nacimiento: {{ client.birthdate}} Email: {{ client.email }} Telef: {{ client.telephone }} Fecha de registro: {{ client.registration_date }}</ion-label>
        </ion-item>
    </ion-list>

</ion-content>
