<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Productos en oferta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>Sopa</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Pizza</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Comida criolla</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Dulces de frutas</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bebidas</ion-label>
        </ion-item>
      </ion-list>

</ion-content>
